body {
    width: 100%;
    background-color: bisque;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

.container{
    font-family: 'Nunito', sans-serif;
    max-width: 300px;
    margin: auto;
    background-color: darkcyan;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 3.6rem;
    border: none;
}
h1 {
    color: white;
}
#buttonDiv {
    text-align: center;
    
}
button {
    background-color: orange;
    border-radius: 3.6rem;
    cursor: pointer;
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    color: black;
}

.resultDiv img {
    width: 2rem;
    height: 2rem;
    margin: 0;
    margin-right: 0.9rem;
}

.resultDiv {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.resultDiv p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    color: black;
    font-weight: bold;
}

#footerDiv {
    font-family: 'Nunito', sans-serif;
    max-width: 300px;
    margin: auto;

    border-radius: 10px;
    color: gray;
    font-weight: bold;

}
footer {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 1.0rem;
}